body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b6e388;
    color: #2d3436;
}

header {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 40px;
}

.plants-section {
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}